# MacOS
.DS_Store

# Large Files
*.qcow2
*.iso

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Nix generations
result

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
